version: '3'

services:
  pgsql:
    image: bitnami/postgresql
    ports:
      - 5432:5432
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=orders
    volumes:
      - postgres_data:/bitnami/postgresql

volumes:
  postgres_data: